genlayer-py @ git+https://github.com/genlayerlabs/genlayer-py@v0.18
genlayer-test @ git+https://github.com/genlayerlabs/genlayer-testing-suite@v0.29
genvm-linter @ git+https://github.com/genlayerlabs/genvm-linter@main
requests>=2.31.0
python-dotenv>=1.0.1
eth-account>=0.13.3
eth-utils>=5.0.0
